// ==========================================================================

// Postie for Craft CMS
// Author: Verbb - https://verbb.io/

// ==========================================================================


// ==========================================================================
// Postie Settings
// ==========================================================================

// .postie-settings-tabs li {
//     width: 100%;
//     max-width: 100% !important;
// }

.postie-settings-tabs .postie-provider-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.postie-settings-tabs .status {
    margin-right: 0 !important;
}

.vui-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;

    *, ::after, ::before {
        box-sizing: border-box;
    }
}

.vui-col,
.vui-col-6 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.vui-col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.postie-settings-block {
    padding: 16px;
    background: #f3f7fc;
    border-radius: 3px;
    border: 1px solid #cbd6e2;
    margin-bottom: 24px;

    ul {
        list-style-type: disc;
    }

    ol, ul {
        padding-left: 20px !important;
    }
}


// ==========================================================================
// Provider Connection Test
// ==========================================================================

.postie-provider-connect,
.postie-provider-connect .field {
    display: flex;
    align-items: baseline;
}

.postie-provider-connect {
    justify-content: space-between;
}

.postie-provider-connect .field .heading {
    margin-right: 10px;
}

// Modal
.vui-connection-error-modal {
    position: absolute;
    width: 45%;
    height: 350px;
    min-width: 600px;
    min-height: auto;
    box-shadow: 0 0 20px rgba(63, 77, 90, 0.1);
    border: 1px solid #cdd8e4;
    border-radius: 10px;
}

.vui-connection-error-modal .body {
    height: 100%;
}

.vui-dialog-close {
    width: 20px;
    height: 20px;
    margin-left: auto;
    cursor: pointer;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    transition: all 0.3s ease;
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='currentColor' d='M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z'%3E%3C/path%3E%3C/svg%3E");
    opacity: 0.4;
}

.vui-connection-error-modal .vui-dialog-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 3;
}

.vui-connection-error-modal .vui-error-pane {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.vui-connection-error-modal .vui-error-pane {
    align-items: center;
    justify-content: center;
    display: flex;
}

.vui-connection-error-modal .vui-error-content {
    text-align: center;
    width: 90%;
}

.vui-connection-error-modal .vui-error-pane [data-icon] {
    display: block;
    font-size: 3em;
    margin-bottom: 0.5rem;
}


// ==========================================================================
// Loading
// ==========================================================================

@keyframes loading {
    0% {
        transform: rotate(0)
    } 100% {
        transform: rotate(360deg)
    }
}

.vui-loading {
    position: relative;
    pointer-events: none;
    color: transparent !important;
    min-height: 1rem;

    &::after {
        position: absolute;
        display: block;
        height: 1rem;
        width: 1rem;
        margin-top: -0.5rem;
        margin-left: -0.5rem;
        border-width: 2px;
        border-style: solid;
        border-radius: 9999px;
        border-color: #E5422B;
        animation: loading 0.5s infinite linear;
        border-right-color: transparent;
        border-top-color: transparent;
        content: "";
        left: 50%;
        top: 50%;
        z-index: 1;
    }
}

.vui-loading.vui-loading-lg {
    min-height: 2rem;

    &::after {
        height: 2rem;
        width: 2rem;
        margin-top: -1rem;
        margin-left: -1rem;
    }
}

.vui-loading.vui-loading-sm {
    min-height: 0.75rem;

    &::after {
        height: 0.75rem;
        width: 0.75rem;
        margin-top: -0.5rem;
        margin-left: -0.375rem;
    }
}

.vui-loading.vui-loading-tiny {
    min-height: 0.5rem;

    &::after {
        height: 0.5rem;
        width: 0.5rem;
        margin-top: -6px;
        margin-left: -6px;
    }
}

.btn.submit.vui-loading {
    color: transparent !important;
}

.btn.submit.vui-loading::after {
    border-bottom-color: #fff;
    border-left-color: #fff;
}

.btn.vui-loading {
    color: transparent !important;
}
