{% import '_includes/forms' as forms %}
{% import 'postie/_macros' as macros %}

{{ forms.textField({
    label: 'Plugin Name' | t('app'),
    instructions: 'Plugin name for the end user.' | t('postie'),
    id: 'pluginName',
    name: 'pluginName',
    value: settings.pluginName,
    first: true,
    autofocus: true,
    warning: macros.configWarning('pluginName', 'postie'),
}) }}

{{ forms.lightswitchField({
    label: 'Enable CP Section' | t('postie'),
    instructions: 'Whether to enable Postie in the main sidebar navigation.' | t('postie'),
    id: 'hasCpSection',
    name: 'hasCpSection',
    on: settings.hasCpSection,
    errors: settings.getErrors('hasCpSection'),
    warning: macros.configWarning('hasCpSection', 'postie'),
}) }}

<hr>

<h2>{{ 'Store Location' | t('commerce') }}</h2>

<p>{{ "In order to use Postie, you'll need to configure your Store Location so that the origin for postage can be calculated effectively. Update your Store Location via {url}." | t('postie', { url: '<a href="' ~ url('commerce/store-settings/location') ~ '">Commerce Settings</a>' }) | raw }}</p>

{% if not storeLocation.address1 %}
    <p class="warning"><span data-icon="alert"></span>{{ 'Store location not configured.' | t('postie') }}</p>
{% else %}
    <p class="success"><span data-icon="check"></span> {{ 'Store location is configured.' | t('postie') }}</p>
{% endif %}

