{% import '_includes/forms' as forms %}
{% import 'postie/_macros' as macros %}

{{ forms.textField({
    label: 'Name' | t('postie'),
    instructions: 'The name for this shipping provider.' | t('postie'),
    name: 'name',
    value: provider.name,
    required: true,
    errors: provider.getErrors('name'),
    warning: macros.configWarning('providers.' ~ provider.handle ~ '.name', 'postie'),
}) }}

{{ forms.lightswitchField({
    label: 'Enabled' | t('postie'),
    instructions: 'Whether this shipping provider should be enabled.' | t('postie'),
    name: 'enabled',
    on: provider.enabled,
    errors: provider.getErrors('enabled'),
    warning: macros.configWarning('providers.' ~ provider.handle ~ '.enabled', 'postie'),
}) }}

<hr>

<div id="js-postie-connection" class="flex flex-nowrap postie-provider-connect">
    <h2>{{ 'API Settings' | t('postie') }}</h2>

    {% if provider.supportsConnection() %}
        <div class="field lightswitch-field">
            {% set connected = provider.getIsConnected() %}

            <div class="heading">
                <span class="status {{ connected ? 'on' }} js-status"></span>
                <span class="js-status-text">{{ (connected ? 'Connected' : 'Not connected') | t('postie') }}</span>
            </div>

            <div class="input ltr">
                <button class="btn small js-btn-refresh">{{ 'Refresh' | t('postie') }}</button>
            </div>
        </div>

        {% js %}
            new Craft.Postie.ProviderConnection('{{ provider.handle }}');
        {% endjs %}
    {% endif %}
</div>

{% namespace 'settings' %}

{{ provider.getSettingsHtml() | raw }}

{% endnamespace %}

<hr>

<div class="vui-row" style="margin-bottom: 24px;">
    <div class="vui-col vui-col-6">
        {{ forms.textField({
            label: 'Markup Rate' | t('postie'),
            instructions: 'Shipping costs added to the order as a whole. Leave it blank to disable this rate.' | t('postie'),
            id: 'markUpRate',
            name: 'markUpRate',
            value: provider.markUpRate,
            errors: provider.getErrors('markUpRate'),
            warning: macros.configWarning('providers.' ~ provider.handle ~ '.markUpRate', 'postie'),
        }) }}
    </div>
        
    <div class="vui-col vui-col-6">
        {{ forms.selectField({
            label: 'Markup Base' | t('postie'),
            instructions: 'Add percentage between 1 and 100 or pure value. Can be ignored when rate is empty.' | t('postie'),
            id: 'markUpBase',
            name: 'markUpBase',
            options: provider.getMarkUpBaseOptions(),
            value: provider.markUpBase,
            errors: provider.getErrors('markUpBase'),
            warning: macros.configWarning('providers.' ~ provider.handle ~ '.markUpBase', 'postie'),
        }) }}
    </div>
</div>

<div class="vui-row">
    <div class="vui-col vui-col-6">
        {{ forms.selectField({
            label: 'Weight Unit' | t('postie'),
            instructions: 'The unit of measurement that the provider uses for box weights.' | t('postie'),
            id: 'weightUnit',
            name: 'weightUnit',
            options: provider.getWeightUnitOptions(),
            value: provider.weightUnit,
            errors: provider.getErrors('weightUnit'),
            warning: macros.configWarning('providers.' ~ provider.handle ~ '.weightUnit', 'postie'),
        }) }}
    </div>
        
    <div class="vui-col vui-col-6">
        {{ forms.selectField({
            label: 'Dimension Unit' | t('postie'),
            instructions: 'The unit of measurement that the provider uses for box dimensions.' | t('postie'),
            id: 'dimensionUnit',
            name: 'dimensionUnit',
            options: provider.getDimensionUnitOptions(),
            value: provider.dimensionUnit,
            errors: provider.getErrors('dimensionUnit'),
            warning: macros.configWarning('providers.' ~ provider.handle ~ '.dimensionUnit', 'postie'),
        }) }}
    </div>
</div>

{% set packingMethod = provider.packingMethod ?? 'perItem' %}

{{ forms.selectField({
    label: 'Packing Method' | t('postie'),
    instructions: 'Select how order items should be packed into boxes.' | t('postie'),
    id: 'packingMethod',
    name: 'packingMethod',
    options: [
        { label: 'Pack items individually' | t('formie'), value: 'perItem' },
        { label: 'Pack items into boxes' | t('formie'), value: 'boxPacking' },
        { label: 'Pack items into a single box' | t('formie'), value: 'singleBox' },
    ],
    value: packingMethod,
    toggle: true,
    targetPrefix: 'packing-',
    errors: provider.getErrors('packingMethod'),
    warning: macros.configWarning('providers.' ~ provider.handle ~ '.packingMethod', 'postie'),
}) }}

<div id="packing-boxPacking" class="{{ packingMethod != 'boxPacking' ? 'hidden' }}">
    {{ forms.editableTableField({
        label: 'Box Sizes' | t('postie'),
        instructions: 'Items will be packed into these boxes based on item dimensions and volume. Dimensions will be passed to {name}, and used for packing. Items not fitting into boxes will be packed individually.' | t('postie', { name: provider.displayName() }),
        id: 'boxSizes',
        name: 'boxSizes',
        cols: provider.getBoxSizesSettings(),
        rows: provider.getBoxSizesRows(),
        errors: provider.getErrors('boxSizes'),
        warning: macros.configWarning('providers.' ~ provider.handle ~ '.boxSizes', 'postie'),
        allowAdd: true,
        allowDelete: true,
        allowReorder: true,
    }) }}
</div>

{% if provider.getServiceList() | length %}
    <hr>

    <h2>{{ "Shipping Methods" | t('postie') }}</h2>

    {{ forms.lightswitchField({
        label: 'Restrict Shipping Methods' | t('postie'),
        instructions: 'Whether to restrict the services returned from the provider, or allow all.' | t('postie'),
        id: 'restrictServices',
        name: 'restrictServices',
        on: provider.restrictServices,
        errors: provider.getErrors('restrictServices'),
        warning: macros.configWarning('providers.' ~ provider.handle ~ '.restrictServices', 'postie'),
        toggle: 'fields',
    }) }}

    <table id="fields" class="data fullwidth collapsible">
        <thead>
            <tr>
                <th scope="col">{{ "Name" | t('postie') }}</th>
                <th scope="col">{{ "Handle" | t('postie') }}</th>
                <th scope="col">
                    {{ "Enabled" | t('postie') }}
                    <div class="provider-shipping-methods-all-switch">
                        {{ forms.lightswitchField({
                            id: 'allShippingMethods',
                            small: true,
                        }) }}
                    </div>
                </th>
            </tr>
        </thead>

        <tbody class="provider-shipping-methods" id="shippingMethods">
            {% for handle, serviceName in provider.getServiceList() %}
                {% namespace 'services[' ~ handle ~ ']' %}
                    {% set warning = macros.configWarning('providers.' ~ provider.handle ~ '.services.' ~ handle, 'postie') %}

                    {% set service = provider.services[handle] ?? [] %}
                    {% set enabled = service.enabled ?? false %}
                    {% set name = service.name ?? serviceName ?? '' %}
                    {% set cpEditUrl = service.getCpEditUrl() ?? '' %}

                    <tr>
                        <td width="45%">
                            <div class="field">
                                {%- apply spaceless %}
                                    <a href="{{ cpEditUrl }}">
                                        <span class="status {% if enabled %}green{% endif %}"></span>
                                        <strong>{{ name }}</strong>
                                    </a>
                                {% endapply -%}
                            </div>
                        </td>

                        <td width="45%">
                            {% if warning %}
                                <span class="warning" data-icon="alert"></span>
                            {% endif %}

                            <input type="hidden" name="name" value="{{ name }}">
                            <input type="hidden" name="enabled" value="0">

                            <code>{{ handle }}</code>
                        </td>

                        <td class="nowrap" width="10%">
                            {{ forms.lightswitchField({
                                name: 'enabled',
                                value: 1,
                                on: enabled,
                                small: true,
                            }) }}
                        </td>
                    </tr>
                {% endnamespace  %}
            {% endfor %}
        </tbody>
    </table>
{% endif %}
