{% extends 'postie/_layouts/settings' %}

{% set configSettings = craft.config.get('originAddress', 'postie') %}

{% if craft.postie.isLicensed %}
    {% set fullPageForm = true %}
{% endif %}


{% block blockContent %}

    {{ getCsrfInput() }}
    <input type="hidden" name="action" value="postie/address/save">
    <input type="hidden" name="redirect" value="postie/settings/address" />

    <h1>{{ "Origin Address" | t }}</h1>

    <p>{{ "Enter the details for the origin address that you're shipping from." | t }}</p>
    <p>{{ "You should select at least a country and set your postal code, as this information is needed for the API calls to calculate base rates. For best results, please fill in as many of the fields as you can." | t }}</p>

    {% for paramKey, paramValue in address.attributes %}

        {% if paramKey != 'id' %}

            {% set paramLabel = (paramKey) | replace('/([A-Z])/', ' $1') | title | replace('/\\bApi\\b/', 'API') | t %}
            {% set required = (paramKey == 'country' or paramKey == 'postalCode') ? true : false %}
            {% set errors = address.getErrors(paramKey) %}
            {% set placeholder = (configSettings[paramKey] is defined) ? configSettings[paramKey] : false %}
            {% set warning = placeholder ? "This is being overridden in {file}." | t({file: 'craft/config/postie.php'}) %}

            {% if paramKey == 'state' %}

                {% set options = (address and states[address.country] is defined ? states[address.country] : []) %}

                <div class="field" id="{{ paramKey }}-field">
                    <div class="heading">
                        <label id="{{ paramKey }}-label" for="{{ paramKey }}">{{ paramLabel | t }}</label>
                        <div class="instructions">{{ "State abbreviation (e.g. VIC for Victoria, NY for New York)" | t }}</div>
                    </div>

                    <div class="select{% if options|length == 0 %} hidden{% endif %}">
                        <select
                            id="state-select"
                            name="{{ paramKey }}"
                            class="address-stateId"
                            {%- if placeholder is defined and placeholder %} disabled{% endif %}
                        >
                            {% for optionValue, optionLabel in options %}
                                <option value="{{ optionValue }}"{% if optionValue == paramValue %} selected{% endif %}>{{ optionLabel }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="input ltr {% if errors %} errors{% endif %}{% if options|length > 0 %} hidden{% endif %}">
                        <input id="state-input" class="text fullwidth address-stateName" type="text" {% if options|length == 0 %} name="{{ paramKey }}"{% endif %} {% if placeholder %}placeholder="{{ placeholder }}"{% endif %} value="{{ paramValue }}" autocomplete="off">
                    </div>

                    {% if warning %}
                        <p class="warning">{{ warning }}</p>
                    {% endif %}
                    {% include "_includes/forms/errorList" with { errors: errors } %}
                </div>

            {% elseif paramKey == 'country' %}

                {{ forms.selectField({
                    label: paramLabel,
                    id: 'country-select',
                    name: paramKey | t,
                    options: countries,
                    value: paramValue ?? placeholder,
                    errors: errors,
                    warning: warning,
                    disabled: placeholder,
                    required: required
                }) }}

            {% else %}

                {{ forms.textField({
                    label: paramLabel,
                    id: paramKey,
                    name: paramKey | t,
                    value: paramValue,
                    errors: errors,
                    disabled: placeholder,
                    warning: warning,
                    required: required,
                    placeholder: placeholder,
                }) }}

            {% endif %}
        {% endif %}

    {% endfor %}

{% endblock %}

{% includejs %}
    var states = {{ states|json_encode|raw }};

    $('#country-select').change(function ()
    {
        // get the value of the selected country.
        var cid = $(this).val();
        var $states = $('#state-select');
        var $stateName = $('#state-input');
        $states.find('option').remove();

        if (states.hasOwnProperty(cid))
        {
            // We have states for this country, show the states drop down.
            $states.parent('div').removeClass('hidden');
            $states.attr('name', 'state');

            // We have states for this country, hide the stateName input.
            $stateName.removeAttr('name');
            $stateName.parent('div').addClass('hidden');
            $stateName.val('');

            // Add all states as options to drop down.
            for (var id in states[cid])
            {
                var state = states[cid][id];
                var $option = $('<option/>');
                $option.attr('value', id).text(state);
                $states.append($option);
            }

        } else {
            // hide the states dropdown, since this country has none.
            $states.parent('div').addClass('hidden');
            $states.removeAttr('name');

            // show the stateName
            $stateName.parent('div').removeClass('hidden');
            $stateName.attr('name', 'state');
        }

    });
{% endincludejs %}
