{% extends 'postie/_layouts/settings' %}

{% block blockContent %}

    {% if not craft.postie.isLicensed %}

        <p>You haven’t entered your Postie license key yet. <a class="go" href="{{ url('postie/settings/license') }}">Resolve</a></p>

    {% else %}

        <h1>{{ "Products" | t }}</h1>
        <h2>{{ "Products missing dimension / weight information" | t }}</h2>

        <p>{{ "This list shows your products (and their variants) without any dimensions or weights set up. Every product you want to ship via Postie needs to have fully populated dimensions and weights. Ensure you've also setup the correct measurement units in your {url}." | t({ url: '<a href="' ~ url('commerce/settings/general') ~ '">Commerce Settings</a>' }) | raw }}</p>

        <hr />

        {% if variants | length == 0 %}

            <p>{{ "Perfect! You don't need to update any products." | t }}</p>

        {% else %}

            <table class="data fullwidth collapsible">
                <thead>
                    <th scope="col">{{ "Product" | t }}</th>
                    <th scope="col">{{ "Product Type" | t }}</th>
                    <th scope="col">{{ "Dimensions" | t }}</th>
                    <th scope="col">{{ "Weight" | t }}</th>
                    <th scope="col">{{ "Edit" | t }}</th>
                </thead>
                <tbody>

                {% for variant in variants %}

                    {% set productType = variant.getProduct().getType() %}

                    <tr>
                        <td>
                            {% if productType.hasUrls %}
                                <a href="{{ variant.getUrl() }}" target="_blank">{{ variant.title }}</a>
                            {% else %}
                                {{ variant.title }}
                            {% endif%}
                        </td>
                        <td>{{ productType.name }}</td>
                        <td>
                            {% if variant.length | number == 0 %}
                                <span class="error">{{ variant.length | number }}</span>
                            {% else %}
                                {{ variant.length | number }}
                            {% endif %}
                            <span class="label light">/</span>

                            {% if variant.width == 0 %}
                                <span class="error">{{ variant.width | number }}</span>
                            {% else %}
                                {{ variant.width | number }}
                            {% endif %}
                            <span class="label light">/</span>

                            {% if variant.height == 0 %}
                                <span class="error">{{ variant.height | number }}</span>
                            {% else %}
                                {{ variant.height | number }}
                            {% endif %}
                            <span class="label light">{{ craft.commerce.settings.dimensionUnits }}</span>
                        </td>
                        <td>
                            {% if variant.weight == 0 %}
                                <span class="error">{{ variant.weight | number }}</span>
                            {% else %}
                                {{ variant.weight | number }}
                            {% endif %}
                            <span class="label light">{{ craft.commerce.settings.weightUnits }}</span>
                        </td>
                        <td>
                            {% if variant.isEditable() %}
                                <a href="{{ variant.getCpEditUrl() }}">
                                    <span class="icon"><span data-icon="edit"></span></span>
                                </a>
                            {% else %}
                                <span class="icon" title="{{ 'You don\'t have enough permissions to edit this product' | t }}">
                                    <span data-icon="edit"></span>
                                </span>
                            {% endif %}
                        </td>
                    </tr>

                {% endfor %}

                </tbody>
            </table>

        {% endif %}

    {% endif %}

{% endblock %}
