{% extends 'postie/_layouts' %}
{% import '_includes/forms' as forms %}

{% set crumbs = [
    { label: craft.postie.getPluginName() | t('postie'), url: url('postie') },
    { label: 'Providers' | t('postie'), url: url('postie/providers') },
    { label: provider.name | t('postie'), url: url('postie/providers/edit/' ~ provider.id) },
] %}

{% set fullPageForm = true %}

{% block blockContent %}
    <div id="shipping-method-tab">
        <input type="hidden" name="action" value="postie/shipping-methods/save">
        <input type="hidden" name="providerHandle" value="{{ provider.handle }}">

        {{ forms.textField({
            first: true,
            label: 'Name' | t('commerce'),
            instructions: 'What this shipping method will be called in the CP.' | t('commerce'),
            id: 'name',
            name: 'name',
            value: shippingMethod.getName(),
            errors: shippingMethod.getErrors('name'),
            autofocus: true,
            required: true,
        }) }}

        {{ forms.textField({
            first: true,
            label: 'Handle' | t('commerce'),
            instructions: 'How this shipping method will be referred to in templates and forms.' | t('commerce'),
            id: 'handle',
            class: 'code',
            name: 'handle',
            value: shippingMethod.handle,
            errors: shippingMethod.getErrors('handle'),
            required: true,
            readonly: true,
        }) }}

        {{ forms.lightSwitchField({
            label: 'Enable this shipping method on the front end' | t('commerce'),
            id: 'enabled',
            name: 'enabled',
            on: shippingMethod.enabled,
            errors: shippingMethod.getErrors('enabled')
        }) }}

        <br>

        <h3>{{ 'Shipping Category Conditions' | t('commerce') }}</h3>

        {% set shippingCategories = craft.commerce.shippingCategories.allShippingCategories %}

        {% if shippingCategories %}
            <table id="shipping-categories-conditions" class="data fullwidth collapsible">
                <thead>
                    <tr>
                        <th scope="col">{{ 'Name' | t('commerce') }}</th>
                        <th scope="col">{{ 'Condition' | t('commerce') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for shippingCategory in shippingCategories %}
                        {% set id = shippingCategory.id %}

                        <tr{% if id %} data-id="{{ id }}" data-name="{{ shippingCategory.name }}"{% endif %}>
                            <th scope="row" data-title="{{ 'Name' | t('commerce') }}">
                                {{ shippingCategory.name }}
                            </th>

                            <td data-title="{{ 'Condition' | t('commerce') }}">
                                {{ forms.selectField({
                                    name: 'shippingCategories[' ~ shippingCategory.id ~ '][condition]',
                                    value: shippingMethod.shippingMethodCategories[shippingCategory.id].condition ?? 'allow',
                                    options: categoryShippingOptions
                                }) }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

{% endblock %}