<p>{{ "To use Fedex API, you'll need to:" | t }}

<ul class="postie-list">
    <li>{{ "Create a profile at the {url}" | t({ url: '<a href="https://www.fedex.com/login/web/jsp/contactInfo1.jsp" target="_blank">FedEx website</a>' }) | raw }}</li>
    <li>{{ "Register a {url}" | t({ url: '<a href="https://www.fedex.com/wpor/web/jsp/commonTC.jsp" target="_blank">FedEx Web Services Production Access</a>' }) | raw }}</li>
</ul>

<p>{{ "After this, you should receive an email with the following information, that is required by Postie:" | t }}</p>

<ul class="postie-list">
    <li><code>accountNumber</code></li>
    <li><code>meterNumber</code></li>
    <li><code>key</code></li>
    <li><code>password</code></li>
</ul>