
/* ==========================================================================
// Plugin License
// ========================================================================== */

#loading-status { display: inline-block; padding: 6px 0; }

.reg-header { position: relative; min-height: 150px; box-sizing: border-box; padding-top: 50px; }
body.ltr .reg-header { padding-left: 150px; padding-right: 25px; }
body.rtl .reg-header { padding-right: 150px; padding-left: 25px; }
#unknown-license-header { padding-top: 42px; }

.license-plugin-icon { position: absolute; top: 25px; }
body.ltr .license-plugin-icon { left: 25px; }
body.rtl .license-plugin-icon { right: 25px; }
.license-plugin-icon .license-alert-img { position: absolute; top: 0; left: 0; }

.reg-header h2 { margin: 0; font-size: 20px; }
.reg-header p { margin-top: 0.5em; max-width: 515px; }

.license-meta { margin: 50px 0 25px; }
.license-meta > .data { padding: 0 !important; }
.license-meta > .data .heading { width: 125px; }
body.ltr .license-meta > .data .heading { text-align: right; }
body.rtl .license-meta > .data .heading { text-align: left; }
.license-meta > .data .value { width: calc(100% - 150px); }

body.ltr .indented { margin-left: 150px; }
body.rtl .indented { margin-right: 150px; }

#license-key-wrapper { display: inline-block; }

@media only screen and (max-width: 768px) {
    .reg-header { min-height: 0; padding: 0 !important; text-align: center; }
    .reg-header img { position: static; margin-bottom: 14px; }

    .meta > .data { display: block; }
    .license-meta > .data .heading,
    .license-meta > .data .value { width: auto; }
    body.ltr .license-meta > .data .heading { text-align: left; }
    body.rtl .license-meta > .data .heading { text-align: right; }

    #license-key-wrapper { display: block; margin-bottom: 24px; }
    #license-key-wrapper input { width: 100%; }

    body.ltr .indented { margin-left: 0; }
    body.rtl .indented { margin-right: 0; }
}



/* ==========================================================================
// Welcome Screen
// ========================================================================== */

.postie-welcome {
    text-align: center;
    margin: 0 auto;
    max-width: 500px;
}

.postie-welcome h1 {
    font-size: 28px;
}

.postie-welcome img {
    width: 120px;
    margin: 20px 0 30px;
}

.postie-welcome .btn-start {
    font-size: 15px;
    padding: 14px 28px;
    height: auto;
    margin-top: 20px;
}

.postie-welcome .or {
    display: block;
    padding: 10px;
    font-style: italic;
}

.postie-welcome .btn .fa {
    margin-left: 5px;
}




/* ==========================================================================
// Plugin Footer
// ========================================================================== */

#plugin-footer .footer-left {
    float: left
}

#plugin-footer .footer-right {
    float: right
}

#plugin-footer .plugin-text {
    font-size: 11px;
    color: #8f98a3;
    text-align: right;
    margin-top: 5px !important;
}

.plugin-credit {
    position: relative;
    width: 78px;
    height: 29px;
    display: block
}

.plugin-credit .credit-love {
    position: absolute;
    top: 0;
    left: -104px;
    color: #8f98a3;
    opacity: 0;
    padding: 5px 9px 5px 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: translateY(5px);
    transform: translateY(5px)
}

.plugin-credit .credit-pill {
    float: right;
    display: inline-block;
    background: #d5d9dd;
    border-radius: 25px;
    padding: 8px 10px 8px 5px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease
}

.plugin-credit .credit-mask {
    width: 12px;
    overflow: hidden;
    padding-left: 3px;
    margin-right: -1px;
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease
}

.plugin-credit .credit-wrap {
    width: 60px;
    height: 13px;
    -webkit-transform: skewX(25deg);
    transform: skewX(25deg)
}

.plugin-credit .credit-wrap svg {
    width: 100%;
    height: 100%;
    display: block
}

.plugin-credit:hover .credit-pill {
    background: #4b308c
}

.plugin-credit:hover .credit-love {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s
}

.plugin-credit:hover .credit-mask {
    width: 61px
}




/* ==========================================================================
// Plugin Settings
// ========================================================================== */

ul.postie-list {
    list-style: inside;
    margin-left: 15px
}