{% macro configWarning(setting, file) -%}
    {%- set configArray = craft.app.config.getConfigFromFile(file) -%}
    {%- set lastItem = setting | split('.') | last -%}

    {%- if get(configArray, setting) -%}
        {{- "This is being overridden by the `#{lastItem}` setting in the `config/#{file}.php` file." | raw }}
    {%- else -%}
        {{ false }}
    {%- endif -%}
{%- endmacro %}


{% macro editableTableField(config) %}
    {% import '_includes/forms' as forms %}

    {% set config = config|merge({id: config.id ?? "editabletable#{random()}"}) %}
    {% set input %}{% include "postie/_macros/_includes/editable-table" with config only %}{% endset %}
    {{ forms.field(config, input) }}
{% endmacro %}

