{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{{ forms.selectField({
    label: 'API' | t('postie'),
    instructions: 'Select which {name} API to use.' | t('postie', { name: provider.displayName() }),
    name: 'apiType',
    options: provider.getApiTypeOptions(),
    value: provider.apiType ?? '',
    required: true,
    suggestEnvVars: true,
    toggle: true,
    targetPrefix: '.api-type-',
    warning: macros.configWarning("providers.#{provider.handle}.apiType", 'postie'),
    errors: provider.getErrors('apiType'),
}) }}

{{ forms.autosuggestField({
    label: 'API Key' | t('postie'),
    instructions: 'Enter your {name} API Key here.' | t('postie', { name: provider.displayName() }),
    id: 'apiKey',
    name: 'apiKey',
    value: provider.apiKey ?? '',
    required: true,
    suggestEnvVars: true,
    warning: macros.configWarning("providers.#{provider.handle}.apiKey", 'postie'),
    errors: provider.getErrors('apiKey'),
}) }}

<div class="api-type-shipping {% if provider.apiType != 'shipping' %}hidden{% endif %}" style="margin-bottom: 24px;">
    {{ forms.autosuggestField({
        label: 'Password' | t('postie'),
        instructions: 'Enter your {name} Password here.' | t('postie', { name: provider.displayName() }),
        id: 'password',
        name: 'password',
        value: provider.password ?? '',
        required: true,
        suggestEnvVars: true,
        warning: macros.configWarning("providers.#{provider.handle}.password", 'postie'),
        errors: provider.getErrors('password'),
    }) }}

    {{ forms.autosuggestField({
        label: 'Account Number' | t('postie'),
        instructions: 'Enter your {name} Account Number here.' | t('postie', { name: provider.displayName() }),
        id: 'accountNumber',
        name: 'accountNumber',
        value: provider.accountNumber ?? '',
        required: true,
        suggestEnvVars: true,
        warning: macros.configWarning("providers.#{provider.handle}.accountNumber", 'postie'),
        errors: provider.getErrors('accountNumber'),
    }) }}
</div>
