{% import '_includes/forms' as forms %}
{% import 'postie/_macros' as macros %}

{% set instructions %}
### Connect to the {name} API
1. Go to <a href="https://www.mybring.com/?_ga=2.3706994.373649870.1606647098-1707919676.1606367974" target="_blank">{name}</a> and login to your account.
1. From the **Dashboard** visit the **Settings and API** page and generate your API keys.
1. Copy the **Username** from {name} and paste in the **Username** field below.
1. Copy the **API Key** from {name} and paste in the **API Key** field below.
{% endset %}

<div class="postie-settings-block">
    {{ instructions | t('postie', { name: provider.displayName() }) | md }}
</div>

{{ forms.autosuggestField({
    label: 'Username' | t('postie'),
    instructions: 'Enter your {name} username here.' | t('postie', { name: provider.displayName() }),
    id: 'username',
    name: 'username',
    value: provider.settings.username ?? '',
    required: true,
    suggestEnvVars: true,
    warning: macros.configWarning('providers.' ~ provider.handle ~ '.settings.username', 'postie'),
}) }}

{{ forms.autosuggestField({
    label: 'API Key' | t('postie'),
    instructions: 'Enter your {name} API Key here.' | t('postie', { name: provider.displayName() }),
    id: 'apiKey',
    name: 'apiKey',
    value: provider.settings.apiKey ?? '',
    required: true,
    suggestEnvVars: true,
    warning: macros.configWarning('providers.' ~ provider.handle ~ '.settings.apiKey', 'postie'),
}) }}
