{% import '_includes/forms' as forms %}
{% import 'postie/_macros' as macros %}

{% set instructions %}
### Connect to the {name} API
1. Go to <a href="https://www.fedex.com/login/web/jsp/contactInfo1.jsp" target="_blank">{name} Developers Centre</a> and register for API access.
1. Register a <a href="https://www.fedex.com/wpor/web/jsp/commonTC.jsp" target="_blank">FedEx Web Services Production Access</a>.
1. Copy the **Account Number** from {name} and paste in the **Account Number** field below.
1. Copy the **Meter Number** from {name} and paste in the **Meter Number** field below.
1. Copy the **API Key** from {name} and paste in the **Key** field below.
1. Copy the **Password** from {name} and paste in the **Password** field below.
{% endset %}

<div class="postie-settings-block">
    {{ instructions | t('postie', { name: provider.displayName() }) | md }}
</div>

{{ forms.autosuggestField({
    label: 'Account Number' | t('postie'),
    instructions: 'Enter your {name} Account Number here.' | t('postie', { name: provider.displayName() }),
    id: 'accountNumber',
    name: 'accountNumber',
    value: provider.settings.accountNumber ?? '',
    required: true,
    suggestEnvVars: true,
    warning: macros.configWarning('providers.' ~ provider.handle ~ '.settings.accountNumber', 'postie'),
}) }}

{{ forms.autosuggestField({
    label: 'Meter Number' | t('postie'),
    instructions: 'Enter your {name} Meter Number here.' | t('postie', { name: provider.displayName() }),
    id: 'meterNumber',
    name: 'meterNumber',
    value: provider.settings.meterNumber ?? '',
    required: true,
    suggestEnvVars: true,
    warning: macros.configWarning('providers.' ~ provider.handle ~ '.settings.meterNumber', 'postie'),
}) }}

{{ forms.autosuggestField({
    label: 'Key' | t('postie'),
    instructions: 'Enter your {name} Key here.' | t('postie', { name: provider.displayName() }),
    id: 'key',
    name: 'key',
    value: provider.settings.key ?? '',
    required: true,
    suggestEnvVars: true,
    warning: macros.configWarning('providers.' ~ provider.handle ~ '.settings.key', 'postie'),
}) }}

{{ forms.autosuggestField({
    label: 'Password' | t('postie'),
    instructions: 'Enter your {name} Password here.' | t('postie', { name: provider.displayName() }),
    id: 'password',
    name: 'password',
    value: provider.settings.password ?? '',
    required: true,
    suggestEnvVars: true,
    warning: macros.configWarning('providers.' ~ provider.handle ~ '.settings.password', 'postie'),
}) }}

{{ forms.lightswitchField({
    label: 'Use Test Endpoint' | t('postie'),
    instructions: 'Whether to use the {name} testing endpoint.' | t('postie', { name: provider.displayName() }),
    id: 'useTestEndpoint',
    name: 'useTestEndpoint',
    on: provider.settings.useTestEndpoint ?? false,
    warning: macros.configWarning('providers.' ~ provider.handle ~ '.settings.useTestEndpoint', 'postie'),
}) }}

{{ forms.lightswitchField({
    label: 'Residential Address' | t('postie'),
    instructions: 'Whether to flag customer‘s address is a residential address.' | t('postie'),
    id: 'residentialAddress',
    name: 'residentialAddress',
    on: provider.settings.residentialAddress ?? false,
    warning: macros.configWarning('providers.' ~ provider.handle ~ '.settings.residentialAddress', 'postie'),
}) }}

{{ forms.lightswitchField({
    label: 'Include Insurance' | t('postie'),
    instructions: 'Whether to include insurance for rates.' | t('postie'),
    id: 'includeInsurance',
    name: 'includeInsurance',
    on: provider.settings.includeInsurance ?? false,
    warning: macros.configWarning('providers.' ~ provider.handle ~ '.settings.includeInsurance', 'postie'),
}) }}

{{ forms.lightswitchField({
    label: 'Enable Fedex One Rate' | t('postie'),
    instructions: 'Whether to enable [Fedex One Rate](https://www.fedex.com/us/onerate/). The origin and destination for the shipment must be the US.' | t('postie'),
    id: 'enableOneRate',
    name: 'enableOneRate',
    on: provider.settings.enableOneRate ?? false,
    warning: macros.configWarning('providers.' ~ provider.handle ~ '.settings.enableOneRate', 'postie'),
}) }}

{% set enableFreight = provider.settings.enableFreight ?? false %}

{{ forms.lightswitchField({
    label: 'Enable Freight' | t('postie'),
    instructions: 'Whether to enable FedEx Freight LTL Rates. The origin and destination for the shipment must be the US, along with the store currency set to USD.' | t('postie'),
    id: 'enableFreight',
    name: 'enableFreight',
    on: enableFreight,
    warning: macros.configWarning('providers.' ~ provider.handle ~ '.settings.enableFreight', 'postie'),
    toggle: 'fedex-freight',
}) }}

<div id="fedex-freight" class="{{ not enableFreight ? 'hidden' }}">
    {{ forms.autosuggestField({
        label: 'Freight Account Number' | t('postie'),
        instructions: 'Enter your {name} Freight Account Number here.' | t('postie', { name: provider.displayName() }),
        id: 'freightAccountNumber',
        name: 'freightAccountNumber',
        value: provider.settings.freightAccountNumber ?? '',
        suggestEnvVars: true,
        warning: macros.configWarning('providers.' ~ provider.handle ~ '.settings.freightAccountNumber', 'postie'),
    }) }}

    <h3>{{ 'Freight Billing Address' | t('formie') }}</h3>

    {{ forms.autosuggestField({
        label: 'Freight Billing Street Address' | t('postie'),
        instructions: 'Enter your {name} Freight Billing Street Address here.' | t('postie', { name: provider.displayName() }),
        id: 'freightBillingStreetAddress',
        name: 'freightBillingStreetAddress',
        value: provider.settings.freightBillingStreetAddress ?? '',
        suggestEnvVars: true,
        warning: macros.configWarning('providers.' ~ provider.handle ~ '.settings.freightBillingStreetAddress', 'postie'),
    }) }}

    {{ forms.autosuggestField({
        label: 'Freight Billing Street Address 2' | t('postie'),
        instructions: 'Enter your {name} Freight Billing Street Address 2 here.' | t('postie', { name: provider.displayName() }),
        id: 'freightBillingStreetAddress2',
        name: 'freightBillingStreetAddress2',
        value: provider.settings.freightBillingStreetAddress2 ?? '',
        suggestEnvVars: true,
        warning: macros.configWarning('providers.' ~ provider.handle ~ '.settings.freightBillingStreetAddress2', 'postie'),
    }) }}

    {{ forms.autosuggestField({
        label: 'Freight Billing City' | t('postie'),
        instructions: 'Enter your {name} Freight Billing City here.' | t('postie', { name: provider.displayName() }),
        id: 'freightBillingCity',
        name: 'freightBillingCity',
        value: provider.settings.freightBillingCity ?? '',
        suggestEnvVars: true,
        warning: macros.configWarning('providers.' ~ provider.handle ~ '.settings.freightBillingCity', 'postie'),
    }) }}

    {{ forms.autosuggestField({
        label: 'Freight Billing Zipcode' | t('postie'),
        instructions: 'Enter your {name} Freight Billing Zipcode here.' | t('postie', { name: provider.displayName() }),
        id: 'freightBillingZipcode',
        name: 'freightBillingZipcode',
        value: provider.settings.freightBillingZipcode ?? '',
        suggestEnvVars: true,
        warning: macros.configWarning('providers.' ~ provider.handle ~ '.settings.freightBillingZipcode', 'postie'),
    }) }}

    {{ forms.autosuggestField({
        label: 'Freight Billing State Code' | t('postie'),
        instructions: 'Enter your {name} Freight Billing State Code here.' | t('postie', { name: provider.displayName() }),
        id: 'freightBillingStateCode',
        name: 'freightBillingStateCode',
        value: provider.settings.freightBillingStateCode ?? '',
        suggestEnvVars: true,
        warning: macros.configWarning('providers.' ~ provider.handle ~ '.settings.freightBillingStateCode', 'postie'),
    }) }}

    {{ forms.autosuggestField({
        label: 'Freight Billing Country Code' | t('postie'),
        instructions: 'Enter your {name} Freight Billing Country Code here.' | t('postie', { name: provider.displayName() }),
        id: 'freightBillingCountryCode',
        name: 'freightBillingCountryCode',
        value: provider.settings.freightBillingCountryCode ?? '',
        suggestEnvVars: true,
        warning: macros.configWarning('providers.' ~ provider.handle ~ '.settings.freightBillingCountryCode', 'postie'),
    }) }}

    <h3>{{ 'Freight Shipper Address' | t('formie') }}</h3>

    {{ forms.autosuggestField({
        label: 'Freight Shipper Street Address' | t('postie'),
        instructions: 'Enter your {name} Freight Shipper Street Address here.' | t('postie', { name: provider.displayName() }),
        id: 'freightShipperStreetAddress',
        name: 'freightShipperStreetAddress',
        value: provider.settings.freightShipperStreetAddress ?? '',
        suggestEnvVars: true,
        warning: macros.configWarning('providers.' ~ provider.handle ~ '.settings.freightShipperStreetAddress', 'postie'),
    }) }}

    {{ forms.autosuggestField({
        label: 'Freight Shipper Street Address 2' | t('postie'),
        instructions: 'Enter your {name} Freight Shipper Street Address 2 here.' | t('postie', { name: provider.displayName() }),
        id: 'freightShipperStreetAddress2',
        name: 'freightShipperStreetAddress2',
        value: provider.settings.freightShipperStreetAddress2 ?? '',
        suggestEnvVars: true,
        warning: macros.configWarning('providers.' ~ provider.handle ~ '.settings.freightShipperStreetAddress2', 'postie'),
    }) }}

    {{ forms.autosuggestField({
        label: 'Freight Shipper City' | t('postie'),
        instructions: 'Enter your {name} Freight Shipper City here.' | t('postie', { name: provider.displayName() }),
        id: 'freightShipperCity',
        name: 'freightShipperCity',
        value: provider.settings.freightShipperCity ?? '',
        suggestEnvVars: true,
        warning: macros.configWarning('providers.' ~ provider.handle ~ '.settings.freightShipperCity', 'postie'),
    }) }}

    {{ forms.autosuggestField({
        label: 'Freight Shipper Zipcode' | t('postie'),
        instructions: 'Enter your {name} Freight Shipper Zipcode here.' | t('postie', { name: provider.displayName() }),
        id: 'freightShipperZipcode',
        name: 'freightShipperZipcode',
        value: provider.settings.freightShipperZipcode ?? '',
        suggestEnvVars: true,
        warning: macros.configWarning('providers.' ~ provider.handle ~ '.settings.freightShipperZipcode', 'postie'),
    }) }}

    {{ forms.autosuggestField({
        label: 'Freight Shipper State Code' | t('postie'),
        instructions: 'Enter your {name} Freight Shipper State Code here.' | t('postie', { name: provider.displayName() }),
        id: 'freightShipperStateCode',
        name: 'freightShipperStateCode',
        value: provider.settings.freightShipperStateCode ?? '',
        suggestEnvVars: true,
        warning: macros.configWarning('providers.' ~ provider.handle ~ '.settings.freightShipperStateCode', 'postie'),
    }) }}

    {{ forms.autosuggestField({
        label: 'Freight Shipper Country Code' | t('postie'),
        instructions: 'Enter your {name} Freight Shipper Country Code here.' | t('postie', { name: provider.displayName() }),
        id: 'freightShipperCountryCode',
        name: 'freightShipperCountryCode',
        value: provider.settings.freightShipperCountryCode ?? '',
        suggestEnvVars: true,
        warning: macros.configWarning('providers.' ~ provider.handle ~ '.settings.freightShipperCountryCode', 'postie'),
    }) }}
</div>
