{% import '_includes/forms' as forms %}
{% import 'postie/_macros' as macros %}

{% set instructions %}
### Connect to the {name} API
1. Go to <a href="https://www.fedex.com/login/web/jsp/contactInfo1.jsp" target="_blank">{name} Developers Centre</a> and register for API access.
1. Register a <a href="https://www.fedex.com/wpor/web/jsp/commonTC.jsp" target="_blank">FedEx Web Services Production Access</a>.
1. Copy the **Account Number** from {name} and paste in the **Account Number** field below.
1. Copy the **Meter Number** from {name} and paste in the **Meter Number** field below.
1. Copy the **API Key** from {name} and paste in the **Key** field below.
1. Copy the **Password** from {name} and paste in the **Password** field below.
{% endset %}

<div class="postie-settings-block">
    {{ instructions | t('postie', { name: provider.displayName() }) | md }}
</div>

{{ forms.textField({
    label: 'Account Number' | t('postie'),
    instructions: 'Enter your {name} Account Number here.' | t('postie', { name: provider.displayName() }),
    id: 'accountNumber',
    name: 'accountNumber',
    value: provider.settings.accountNumber ?? '',
    required: true,
    warning: macros.configWarning('providers.' ~ provider.handle ~ '.settings.accountNumber', 'postie'),
}) }}

{{ forms.textField({
    label: 'Meter Number' | t('postie'),
    instructions: 'Enter your {name} Meter Number here.' | t('postie', { name: provider.displayName() }),
    id: 'meterNumber',
    name: 'meterNumber',
    value: provider.settings.meterNumber ?? '',
    required: true,
    warning: macros.configWarning('providers.' ~ provider.handle ~ '.settings.meterNumber', 'postie'),
}) }}

{{ forms.textField({
    label: 'Key' | t('postie'),
    instructions: 'Enter your {name} Key here.' | t('postie', { name: provider.displayName() }),
    id: 'key',
    name: 'key',
    value: provider.settings.key ?? '',
    required: true,
    warning: macros.configWarning('providers.' ~ provider.handle ~ '.settings.key', 'postie'),
}) }}

{{ forms.textField({
    label: 'Password' | t('postie'),
    instructions: 'Enter your {name} Password here.' | t('postie', { name: provider.displayName() }),
    id: 'password',
    name: 'password',
    value: provider.settings.password ?? '',
    required: true,
    warning: macros.configWarning('providers.' ~ provider.handle ~ '.settings.password', 'postie'),
}) }}

{{ forms.lightswitchField({
    label: 'Use Test Endpoint' | t('postie'),
    instructions: 'Whether to use the {name} testing endpoint.' | t('postie', { name: provider.displayName() }),
    id: 'useTestEndpoint',
    name: 'useTestEndpoint',
    on: provider.settings.useTestEndpoint ?? false,
    warning: macros.configWarning('providers.' ~ provider.handle ~ '.settings.useTestEndpoint', 'postie'),
}) }}

{{ forms.lightswitchField({
    label: 'Residential Address' | t('postie'),
    instructions: 'Whether to flag customer‘s address is a residential address.' | t('postie'),
    id: 'residentialAddress',
    name: 'residentialAddress',
    on: provider.settings.residentialAddress ?? false,
    warning: macros.configWarning('providers.' ~ provider.handle ~ '.settings.residentialAddress', 'postie'),
}) }}

{{ forms.lightswitchField({
    label: 'Include Insurance' | t('postie'),
    instructions: 'Whether to include insurance for rates.' | t('postie'),
    id: 'includeInsurance',
    name: 'includeInsurance',
    on: provider.settings.includeInsurance ?? false,
    warning: macros.configWarning('providers.' ~ provider.handle ~ '.settings.includeInsurance', 'postie'),
}) }}
