{% import '_includes/forms' as forms %}
{% import 'postie/_macros' as macros %}

{% set instructions %}
### Connect to the {name} API
1. Go to <a href="https://www.nzpost.co.nz/" target="_blank">{name}</a> and login to your account. Complete the <a href="https://www.nzpost.co.nz/user/developer-centre/register/commercial/shipping" target="_blank">commercial access form</a>.
1. Request API access for an <a href="https://www.nzpost.co.nz/business/developer-centre" target="_blank">application</a>.
1. Once access have been granted, click “add a new application”.
1. Include OAuth 2.0 grant type "Client Credentials Grant".
1. Navigate to <a href="https://anypoint.mulesoft.com/exchange/portals/nz-post-group/applications/" target="_blank">your application</a>.
1. Copy the **Client ID** from {name} and paste in the **Client ID** field below.
1. Copy the **Client Secret** from {name} and paste in the **Client Secret** field below.
1. Copy the **Site Code** from {name} and paste in the **Site Code** field below.
{% endset %}

<div class="postie-settings-block">
    {{ instructions | t('postie', { name: provider.displayName() }) | md }}
</div>

{{ forms.autosuggestField({
    label: 'Client ID' | t('postie'),
    instructions: 'Enter your {name} Client ID here.' | t('postie', { name: provider.displayName() }),
    id: 'clientId',
    name: 'clientId',
    value: provider.settings.clientId ?? '',
    required: true,
    suggestEnvVars: true,
    warning: macros.configWarning('providers.' ~ provider.handle ~ '.settings.clientId', 'postie'),
}) }}

{{ forms.autosuggestField({
    label: 'Client Secret' | t('postie'),
    instructions: 'Enter your {name} Client Secret here.' | t('postie', { name: provider.displayName() }),
    id: 'clientSecret',
    name: 'clientSecret',
    value: provider.settings.clientSecret ?? '',
    required: true,
    suggestEnvVars: true,
    warning: macros.configWarning('providers.' ~ provider.handle ~ '.settings.clientSecret', 'postie'),
}) }}

{{ forms.autosuggestField({
    label: 'Site Code' | t('postie'),
    instructions: 'Enter your {name} Site Code here.' | t('postie', { name: provider.displayName() }),
    id: 'siteCode',
    name: 'siteCode',
    value: provider.settings.siteCode ?? '',
    required: true,
    suggestEnvVars: true,
    warning: macros.configWarning('providers.' ~ provider.handle ~ '.settings.siteCode', 'postie'),
}) }}

{{ forms.autosuggestField({
    label: 'Account Number' | t('postie'),
    instructions: 'Enter your {name} Billing Account Number here for tailored rates.' | t('postie', { name: provider.displayName() }),
    id: 'accountNumber',
    name: 'accountNumber',
    value: provider.settings.accountNumber ?? '',
    warning: macros.configWarning('providers.' ~ provider.handle ~ '.settings.accountNumber', 'postie'),
}) }}

{{ forms.lightswitchField({
    label: 'Use Test Endpoint' | t('postie'),
    instructions: 'Whether to use the {name} testing endpoint.' | t('postie', { name: provider.displayName() }),
    id: 'useTestEndpoint',
    name: 'useTestEndpoint',
    on: provider.settings.useTestEndpoint ?? false,
    warning: macros.configWarning('providers.' ~ provider.handle ~ '.settings.useTestEndpoint', 'postie'),
}) }}
