{% import '_includes/forms' as forms %}
{% import 'postie/_macros' as macros %}

{{ forms.textField({
    label: 'Account Number' | t('postie'),
    instructions: 'Enter your {name} Account Number here.' | t('postie', { name: provider.name }),
    id: 'accountNumber',
    name: 'accountNumber',
    value: provider.settings.accountNumber ?? '',
    required: true,
    warning: macros.configWarning('providers.' ~ provider.handle ~ '.settings.accountNumber', 'postie'),
}) }}

{{ forms.textField({
    label: 'Username' | t('postie'),
    instructions: 'Enter your {name} Username here.' | t('postie', { name: provider.name }),
    id: 'username',
    name: 'username',
    value: provider.settings.username ?? '',
    required: true,
    warning: macros.configWarning('providers.' ~ provider.handle ~ '.settings.username', 'postie'),
}) }}

{{ forms.textField({
    label: 'Password' | t('postie'),
    instructions: 'Enter your {name} Password here.' | t('postie', { name: provider.name }),
    id: 'password',
    name: 'password',
    value: provider.settings.password ?? '',
    required: true,
    warning: macros.configWarning('providers.' ~ provider.handle ~ '.settings.password', 'postie'),
}) }}

