{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{{ forms.autosuggestField({
    label: 'API Key' | t('postie'),
    instructions: 'Enter your {name} API Key here.' | t('postie', { name: provider.displayName() }),
    id: 'apiKey',
    name: 'apiKey',
    value: provider.apiKey ?? '',
    required: true,
    suggestEnvVars: true,
    warning: macros.configWarning("providers.#{provider.handle}.apiKey", 'postie'),
    errors: provider.getErrors('apiKey'),
}) }}
